.body {
  background-color: #f2f2f2;
}

.headerHome {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    font-family: "Roboto";
    font-size: 40px;
    color: #235763;
    
    height: 3em;
    background: #fff;
    width: 100%;
}
.titleHome{
  size: 25px;
}
p{
  color: #235763;;

}

 .inputHeight{
   width: 200px;

  }
.wrapBorder{
    width: 100%;
    border: 1px solid#EFEFEF;

  }