.body {
  background-color: #f2f2f2;
}

.headerHome {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    font-family: "Roboto";
    font-size: 20px;
    color: #235763;
    height: 3em;
    background: #fff;
    width: 100%;
  }


  