
  .navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    font-size: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    
}

.divIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textIcon {
    margin: 0.5em 0 0 0;
}
