.mapend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapend-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}