.p{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
}

button{
    background-color:#37C7D8;
    font-family: Roboto;
    color: white;
    border: 2px;
    border-radius: 5px;
    width:230px;
    height: 50px;
    margin: 8px;
}

label{
    
    margin:none;
    font-family: Roboto;
    font-size: 16px;
}
input{
    margin: 8px;
    border-color: #EFEFEF;;
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: 0,5px;
    
}

.Logo{
    margin: 20px;
    width: 142px;
    height: 74px;
  
}

.container{
    display: flex;
   align-items: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100vh;
    height: 100%;


}

.Prevension{

    color: wh;
    margin: 8px;
    border-color: #EFEFEF;;
    width: 220px;
    height: 30px;
    border-radius: 5px;
    border: 0,5px;
}


.headerHome {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    font-family: "Roboto";
    font-size: 40px;
    color: #235763;
    
    height: 3em;
    background: #fff;
    width: 100%;
}
.titleHome{
  size: 25px;
}
p{
  color: #235763;;
}

 .inputHeight{
   width: 200px;
  }
.wrapBorder{
    width: 100%;
    border: 1px solid#EFEFEF;

  }

  h1{
      size: 25px;
      color: #235763;
  }

  .headerHomeProg {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    font-family: "Roboto";
    color: #235763;
    height: 2em;
    background: #fff;
    width: 100%;
  }